* {
  box-sizing: border-box;
  margin: 0;
  /*background-color: rgba(0,0,0,0.1);*/
}

.container {
  text-align: center;
}

button {
  width: 50px;
  height: 50px;
  color: white;
  background: #000080;
  padding: 5px;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 20px;
  margin: 2px;
  display: inline-block;
}

button:hover {
  background-color: #0000ff;
}

button:visited {
  cursor: not-allowed;
}

.form-box {
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 40px;
  position: relative;
}

#hint {
  width: 150px;
  height: 50px;
  border-radius: 10%;
  position: relative;
  display: inline-block;
  margin-left: -150px;
}

#restart {
  width: 150px;
  height: 35px;
  color: #000080;
  background-color: white;
  border-radius: 10%;
  position: relative;
  margin-bottom: 10px;
}

#headline {
  font-size: 60px;
  font-family: serif;
  display: inline;
  margin-left: 100px;
}

.headline-box {
  width: 100%;
  height: 200px;
  padding: 20px;
}

img {
  margin-right: 25px;
  position: absolute;
}

h3 {
  font-size: 50px;
  margin-bottom: 10px;
}

#letters {
  font-size: 60px;
}

#tries-box {
  font-size: 20px;
}

#tries {
  font-size: 25px;
  text-align: left;
}

#hint-box {
  width: 400px;
  height: 50px;
  display: inline-block;
  position: absolute;
  font-size: 30px;
  text-align: left;
  padding: 10px;
  margin-left: 5px;
}

p {
  font-size: 30px;
}

#result-box {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: scroll;
}

.modal-box {
  height: 200px;
  width: 500px;
  background: #000080;
  color: white;
  margin: 0 auto;
  position: relative;
  top: calc(50vh - 100px);
  box-shadow: 0 0 15px #333;
  border-radius: 6px;
}

.stadium-box {
  padding: 5px;
  margin-top: 5px;
}



.field-box-endzone {
  width: 80px;
  height: 100px;
  margin-top: 20px;
  background-color: #000080;
  color: #000080;
  font-family: Arial Rounded MT Bold;
  padding-top: 80px;
  padding-left: 20px;
  display: inline-block;
  }

.field-box-l {
  width: 80px;
  height: 100px;
  margin-left: 1px;
  background-color: green;
  display: inline-block;
  color: white;
  font-family: Arial Rounded MT Bold;
  padding-top: 80px;
  padding-left: 60px;
}

.field-box-r {
  width: 80px;
  height: 100px;
  margin-left: 1px;
  background-color: green;
  display: inline-block;
  color: white;
  font-family: Arial Rounded MT Bold;
  padding-top: 80px;
  padding-right: 50px;
}

.field-box-mid-r {
  width: 80px;
  height: 100px;
  margin-left: 1px;
  background-color: green;
  display: inline-block;
  color: white;
  font-family: Arial Rounded MT Bold;
  padding-top: 80px;
  padding-right: 65px;

}

.field-box-mid-l {
  width: 80px;
  height: 100px;
  margin-left: 1px;
  background-color: green;
  display: inline-block;
  color: white;
  font-family: Arial Rounded MT Bold;
  padding-top: 80px;
  padding-left: 65px;
}

/* .TD-text-l {
  font-size: 15px;
  font-family: Arial Rounded MT Bold;
  transform: rotate(270deg);
  text-align: left;
  padding-bottom: 5px;

  }

.TD-text-r {
  font-size: 15px;
  font-family: Arial Rounded MT Bold;
  transform: rotate(90deg);
  text-align: center;
}
*/


.hidden {
  display: none;
}
